<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>

    {{> header this}}

    <div class="content-wrapper">

        {{> sidebar this}}

        <main>
            <h4>My name is Romeno. I was born in Sri Lanka, did my high school in Oman, my bachelors in the UAE and U.S and am currently doing a post graduate course in Canada. Living in many places has given me an appreciation of different cultures, which is why I love technology as it brings people together. I have been interested in Computer Science since I was very young.
                <br/><br/>
                Learning how things work behind the scenes has always been an interest to me, which is why I like backend engineering. I'm also keen on seeing the results of what I am building through frontend engineering. My goal is to become a skilled software engineer in a particular niche that interests me as right now I've dabbled with a lot of technologies but want to laser focus on one.
            </h4>

            {{> footer this}}    
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>