<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>

    {{> header this}}

    <div class="content-wrapper">

        {{> sidebar this}}

        <main>
            <section class="contact-section">
                <h2 class="section-title">Contact me!</h2>
                <h6>I'm only one text, email or call away if you want to discuss anything from tech to boxing 🔥🔥 You
                    can find my phone number and email on the left sidebar.</h6>

                <br />
                {{#if formStatusSuccess}}
                <div class="alert alert-success" role="alert">
                    Sent message successfully!
                </div>

                {{/if}}
                {{#if formStatusFail}}
                <div class="alert alert-danger" role="alert">
                    An error occured while sending the message.
                </div>
                {{/if}}
                <form action="/contact" method="POST" onSubmit="return contactFormButtonClicked()">

                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email"
                            placeholder="Enter your email" />
                    </div>
                    <div class="form-group">
                        <label for="msg" class="form-label">Message</label>
                        <textarea type="text" name="msg" class="form-control" id="msg"
                            placeholder="Type your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Contact me</button>
                </form>
            </section>
            <section class="location-section">
                <h5 class="section-title">MY LOCATION</h5>

                <div class="map-wrapper embed-responsive embed-responsive-16by9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.10316965012!2d-80.5206799842811!3d43.47931727167485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf31d0cec9491%3A0x8bf5f60c306d2207!2sConestoga%20College%20-%20Waterloo!5e0!3m2!1sen!2sca!4v1636946279913!5m2!1sen!2sca"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>

            {{> footer this}}
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/live-resume.js"></script>
    <script src="js/contact.js"></script>
</body>

</html>