<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>

    {{> header this}}

    <div class="content-wrapper">

        {{> sidebar this}}

        <main>
            <section class="intro-section">
                <h2 class="section-title">Hi, I'm {{name}}!</h2>
                <p>{{aboutInfo}}</p>
                <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
            </section>
            <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">EDUCATION</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2022 - 2024</span>
                                <h6 class="time-line-item-title">Masters In Computer Science</h6>
                                <p class="time-line-item-subtitle">Georgia Institute of Technology</p>
                                <p class="time-line-item-content">Interactive Intelligence Specialization. Online, part-time.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2021 - 2022</span>
                                <h6 class="time-line-item-title">Post-Graduate Certificate in Mobile App Development</h6>
                                <p class="time-line-item-subtitle">Conestoga College - Waterloo</p>
                                <p class="time-line-item-content">
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2017 - 2021</span>
                                <h6 class="time-line-item-title">B.Sc in Computer Science</h6>
                                <p class="time-line-item-subtitle">New York University - Abu Dhabi</p>
                                <p class="time-line-item-content">Minored in Natural Sciences. Full-ride scholarship.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">Experience</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2010 - 2014</span>
                                <h6 class="time-line-item-title">UI/UX Designer</h6>
                                <p class="time-line-item-subtitle">Web Agency</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2008 - 2010</span>
                                <h6 class="time-line-item-title">Web Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2006 - 2008</span>
                                <h6 class="time-line-item-title">Graphic Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="services-section">
                <h6 class="section-subtitle">WHAT I DO</h6>
                <h2 class="section-title">SERVICES</h2>
                <div class="row">
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="images/001-target.svg" alt="target">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">web designing</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.</p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="images/003-idea.svg" alt="bulb">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Graphic design</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="images/002-development.svg" alt="development">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Development</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="images/004-smartphone.svg" alt="smartphone">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Mobile design</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonial-section">
                <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,
                                interdum sed tortor.</p>
                            <img src="images/Profile.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Nout Golstein</p>
                        </div>
                        <div class="carousel-item">
                            <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,
                                interdum sed tortor.</p>
                            <img src="images/Profile.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Nout Golstein</p>
                        </div>
                        <div class="carousel-item">
                            <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,
                                interdum sed tortor.</p>
                            <img src="images/Profile.png" alt="profile" class="testimonial-img">
                            <p class="testimonial-name">Nout Golstein</p>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </section>

            {{> footer this}}    
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>