<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>

    {{> header this}}

    <div class="content-wrapper">

        {{> sidebar this}}

        <main>
            <section class="intro-section">
                <h2 class="section-title">Hi, I'm {{name}}!</h2>
                <p>{{aboutInfo}}</p>
            </section>
            <!-- 
                LEARNED HOW TO DO CARD DECK AND CARDS IN BOOTSTRAP FROM https://getbootstrap.com/docs/4.0/components/card/ and coded it myself (not copy pasted)
            -->
            <section class="what-i-do-section">
                <h2 class="section-title">What I do</h2>
                <!-- card-deck, card and card-body classes are used to create a card layout  -->
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Backend Development</h5>
                            <p class="card-text">I love learning about how things work behind the
                                scenes. I have experience working in startups and established companies as a backend
                                developer. I have extensive experience with <span
                                    class="badge badge-dark">node.js</span>, <span
                                    class="badge badge-dark">Flask</span> in <span
                                    class="badge badge-dark">Python</span>.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Frontend Development</h5>
                            <p class="card-text">I have worked with <span
                                    class="badge badge-dark">HTML</span>, <span
                                    class="badge badge-dark">CSS</span>, <span
                                    class="badge badge-dark">JS</span> and <span
                                    class="badge badge-dark">React</span> in the frontend. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mobile App Development</h5>
                            <p class="card-text">Competent native iOS developer in <span
                                    class="badge badge-dark">Swift</span>. I have experience developing
                                apps in
                                <span
                                    class="badge badge-dark">React Native</span> as well and learning native Android development in <span
                                    class="badge badge-dark">Kotlin</span>.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="latest-post-section">
                <h2 class="section-title">Latest Posts</h2>
                <div class="card-deck">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">I explain stacks and queues in a youtube video.</h5>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6nrcEe-GuZM"
                                    allowfullscreen></iframe>
                            </div>

                            <p class="card-text"><small class="text-muted">May 12th, 2020</small></p>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">I explain binary numbers in a youtube video.</h5>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tBo3wQjgdCM"
                                    allowfullscreen></iframe>
                            </div>

                            <p class="card-text"><small class="text-muted">May 12th, 2020</small></p>
                        </div>
                    </div>
                </div>

            </section>

            {{> footer this}}
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>