<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>
    {{> header this}}

    <div class="content-wrapper">
        {{> sidebar this}}

        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PORTFOLIO</h2>
                
                <div class="portfolio-wrapper">
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_1.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 01</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_2.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 02</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_3.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 03</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_4.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 04</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_5.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 05</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_6.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 06</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_7.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 07</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="images/img_8.png" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 08</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                </div>

            </section>
            {{> footer this}}
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/entry/jq.entry.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>