<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>
    {{> header this}}

    <div class="content-wrapper">
        {{> sidebar this}}

        <main>
            <section class="portfolio-section">
                <h2 class="section-title">Frontend Projects</h2>
                <!-- card-deck, card and card-body classes are used to create a card layout  -->
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <video class="card-img-top" autoplay loop muted>
                                <source type="video/webm" src="files/audioExperience.webm">
                            </video>
                            <h5 class="card-title">A real-time animated audio experience!</h5>
                            <p class="card-text">In this project I worked with a team to develop an audio experience
                                that is linked in real time to elements of the web page (the animations are not videos
                                but happening real time). Using the power of javascript animations we created an
                                experience in a plane crash, with our own voice recordings and audio editing as well.
                                Please check it out!
                                uses <span class="badge badge-dark">HTML</span>, <span
                                    class="badge badge-dark">CSS</span>, and <span class="badge badge-dark">JS</span>.
                            </p>
                            <div class="card-footer  mt-auto text-center">
                            <a href="https://wenogk.github.io/sound-journey/" class="btn btn-primary btn-sm" target="_blank"><i class="fas fa-link fa-1x"></i> View Live
                                Version</a>
                            <a href="https://github.com/wenogk/sound-journey/" class="btn btn-info btn-sm" target="_blank"><i class="fab fa-github fa-1x"></i> View code on
                                Github</a>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <video class="card-img-top" autoplay loop muted>
                                <source type="video/webm" src="files/terminalWeb.webm">
                            </video>
                            <h5 class="card-title">A Terminal on the Web</h5>
                            <p class="card-text">I developed a functional terminal frontend on the web using <span
                                    class="badge badge-dark">Jquery</span>, <span class="badge badge-dark">HTML</span>,
                                <span class="badge badge-dark">CSS</span>, and <span class="badge badge-dark">JS</span>.
                            </p>
                            <div class="card-footer mt-auto text-center">
                            <a href="https://wenogk.github.io/comlab-portfolio/" class="btn btn-primary btn-sm" target="_blank"><i class="fas fa-link fa-1x"></i> View Live
                                Version</a>
                            <a href="https://github.com/wenogk/comlab-portfolio/" class="btn btn-info btn-sm" target="_blank"><i class="fab fa-github fa-1x"></i> View code on
                                Github</a>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <video class="card-img-top" autoplay loop muted>
                                <source type="video/webm" src="files/igemTeamSite.webm">
                            </video>
                            <h5 class="card-title">iGem Team Website</h5>
                            <p class="card-text">As head of the Computer Science team representing my university in
                                Boston for the iGem competition, I built this website using the same ScrollMagic
                                Javascript library that apple
                                uses in it's website. The website is coded in <span
                                    class="badge badge-dark">HTML</span>,
                                <span class="badge badge-dark">CSS</span>,and <span
                                    class="badge badge-dark">Javascript</span></p>
                                <div class="card-footer mt-auto text-center">
                            <a href="https://2019.igem.org/Team:NYU_Abu_Dhabi/" class="btn btn-primary btn-sm" target="_blank"><i class="fas fa-link fa-1x"></i> View Live
                                Version</a>
                                </div>
                        </div>
                    </div>
                </div><br />
                <h2 class="section-title">Backend & FullStack Projects</h2>
                <!-- card-deck, card and card-body classes are used to create a card layout  -->
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="images/igemChat.png" />
                            <h5 class="card-title">Live Chat and Reactions Backend</h5>
                            <p class="card-text">When I was a remote backend developer intern for the iGem foundation, I
                                worked on my proudest work which is the backend of the chat and reactions that was used
                                for the iGem live conference by thousands of users. I worked on the backend in <span
                                    class="badge badge-dark">Node.js</span> using the <span
                                    class="badge badge-dark">socket.io</span> library in <span
                                    class="badge badge-dark">TypeScript</span> on an <span class="badge badge-dark">AWS
                                    EC2</span> instance using a <span class="badge badge-dark">Postgres</span> and <span
                                    class="badge badge-dark">Redis</span> instance. It was a technical challenge to
                                support thousands of users and the moderation of the live chat, redis was the life-saver
                                here as we were able to keep the chat fast and functional by cacheing data in it.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <video class="card-img-top" autoplay loop muted>
                                <source type="video/webm" src="files/rivermouth.webm">
                            </video>
                            <h5 class="card-title">Rivermouth Fullstack app!</h5>
                            <p class="card-text">In this project I worked on a FullStack app in the MERN Stack: <span
                                    class="badge badge-dark">MongoDB</span>, <span
                                    class="badge badge-dark">Express.js</span>, <span
                                    class="badge badge-dark">React</span>
                                and
                                <span class="badge badge-dark">Node.js</span>. Inspired by the netflix film,
                                "Bandersnatch" I built a platform that allows users to build their own
                                choose-your-own-path stories and videos. The backend includes authentication using
                                google. </p>
                            <div class="card-footer mt-auto text-center">
                            <a href="https://github.com/wenogk/rivermouth-api-public" class="btn btn-info btn-sm" target="_blank"><i class="fab fa-github fa-1x"></i> View code on
                                Github</a>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="images/thisWebsite.png" />
                            <h5 class="card-title">This Website!</h5>
                            <p class="card-text">This website is a fullstack website coded in <span
                                    class="badge badge-dark">Express.js</span>,<span
                                    class="badge badge-dark">Node.js</span>, <span
                                    class="badge badge-dark">Handlebars</span>, <span
                                    class="badge badge-dark">HTML</span>,
                                <span class="badge badge-dark">CSS</span>,and <span
                                    class="badge badge-dark">Javascript</span></p>
                        </div>
                    </div>


                </div>
<br />
                <div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">View more of my projects!</h5>
    <p class="card-text">I've worked on many more projects which can be viewed in my Github profile.</p>
    <a href="https://github.com/wenogk/" class=" text-center btn btn-info" target="_blank"><i class="fab fa-github fa-1x"></i> View Github Profile</a>
  </div>
</div>
            </section>
            {{> footer this}}
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/entry/jq.entry.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>