<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/live-resume.css">
</head>

<body>

    {{> header this}}

    <div class="content-wrapper">

        {{> sidebar this}}

        <main>
            

            {{> footer this}}    
        </main>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/@popperjs/core/dist/umd/popper-base.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/live-resume.js"></script>
</body>

</html>